@media (max-width: 450px) {
    
    nav{
        position: relative;
        height: 6vh;
        border: none;
    }
    .nav-logo h2{
        font-size: 5vw;
    }
    .nav-logo img{
        width: 4vw;
        margin-right: 5px;
    }
    .nav-menu ul{
        display: none;
        position: absolute;
        top: 50%;
        right: -3vw;
    }
    .nav-menu .mobile-menu{
        display: inline-flex;
        gap: 6vw;
    }
    .mobile-menu i{
        font-size: 5vw;
    }
    .nav-menu ul li{
        margin: 2px;
    }
    #icon{
        display: block;
    }
    .nav-menu ul li a{
        font-size: 2vw;
        background: #e3e0e0;
        padding: 3px 5px;
        border-radius: 6px;
    }
    .header-body{
        display: block;
    }
    .head-text{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .head-text h1{
        font-size: 12vw;
        line-height: 11vw;
    }
    h1 img{
        width: 9vw;
    }
    p{
        font-size: 3.2vw;
    }
    button{
        font-size: 2.8vw;
    }
    .header-image{
        height: 60%;
        width: 100%;
        align-items: first baseline;
    }
    .header-image img{
        height: 80%;
        width: 85%;
    }
    #home-side-img{
        width: 21vw;
        bottom: 45vh;
    }
    .page1-card{
        flex-direction: column;
        justify-content: center;
        overflow: visible;
        margin-top: 5vh;
    }
    h2{
        font-size: 6vw;
    }
    .page2{
        height: 300vh;
    }
}